name: main
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: setup jdk 7
      uses: actions/setup-java@v1
      with:
        java-version: '7'
    
    - name: setup jdk 6
      uses: actions/setup-java@v1
      with:
        java-version: '6'
    
    - name: check installation
      run: ls $RUNNER_TOOL_CACHE
    
    - name: check java home 6
      run: echo $JAVA_HOME

    - name: replace java.7.home
      run: sed -i.bak 's:.*java.7.home.*:java.7.home=/opt/hostedtoolcache/jdk/7.0.312/x64:' build.properties.default
      
    - name: check new file
      run:  cat build.properties.default   
      
      
    - name: check java home 7
      run: ls -latrh /opt/hostedtoolcache/jdk/7.0.312/x64
      
    #Known ERRORS   
    - name: remove_known_failed
      run: sed -i.bak '/TEST-org.apache.catalina.startup.TestHostConfigAutomaticDeployment/d' failed_result.txt | true


    - name: check failed_result.txt
      run: cat failed_result.txt
#     - name: remove_known_error_2
#       run: sed -i.bak '/TEST-org.apache.catalina.tribes.group.interceptors.TestNonBlockingCoordinator.NIO.txt/d' error_result.txt | true  

    
